<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66"
    }
  ],
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "toolbar": [
    "umbblockpicker"
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>