<?xml version="1.0" encoding="utf-8"?>
<Content Key="530f495b-502b-41f9-a243-655343ff0b43" Alias="Test Page" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/TestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-10T10:47:41</CreateDate>
    <NodeName Default="Test Page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "key": "0db1bb53-b2af-45c2-ac4b-09fd165f54f5",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "7e89a60c-ef49-4ef1-b5b1-cb68572a517f",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "f5effb",
            "value": "#f5effb"
          }
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "000000",
            "value": "#000000"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0db1bb53-b2af-45c2-ac4b-09fd165f54f5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898"
          },
          {
            "items": [],
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0db1bb53-b2af-45c2-ac4b-09fd165f54f5",
        "contentUdi": "umb://element/0db1bb53b2af45c2ac4b09fd165f54f5",
        "rowSpan": 1,
        "settingsKey": "7e89a60c-ef49-4ef1-b5b1-cb68572a517f",
        "settingsUdi": "umb://element/7e89a60cef494ef1b5b1cb68572a517f"
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>