<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d173816-0620-4368-a121-b8c0b2dfe95b" Alias="test (1)" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2023-09-01T17:13:00</CreateDate>
    <NodeName Default="test (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "db375ac1-d471-45ae-8203-c603481a6e52",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffffff",
            "value": "#ffffff"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "113635",
            "value": "#113635"
          }
        }
      ]
    },
    {
      "contentTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d",
      "key": "273fbdc7-d01b-4db7-b732-377828e73883",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "key": "23ff8650-33a2-493a-bdc0-9494f25a3b5a",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testing 1 2 3"
        }
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "key": "f47bac51-66ee-474b-b668-01476d8cdc89",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "49c5d4bd-b049-4257-b873-220192ef53c6",
              "mediaKey": "591f607c-6a13-4773-a868-76db1148ffb0",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "key": "afdf3731-52ea-4384-aef5-609db7f969d9",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1b01b618-0ec4-4cf2-b6a9-517771f3db96",
              "mediaKey": "8bf1f902-53a2-498e-a48b-26e35d42df57",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "69152414-2748-450b-b408-ba9980139722",
      "udi": null,
      "values": [
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffffff",
            "value": "#ffffff"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "102b3f",
            "value": "#102b3f"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "db375ac1-d471-45ae-8203-c603481a6e52",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "273fbdc7-d01b-4db7-b732-377828e73883",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "23ff8650-33a2-493a-bdc0-9494f25a3b5a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f47bac51-66ee-474b-b668-01476d8cdc89",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "afdf3731-52ea-4384-aef5-609db7f969d9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "3b490f17-1471-4ac4-9434-60e676639e29"
          }
        ],
        "columnSpan": 12,
        "contentKey": "db375ac1-d471-45ae-8203-c603481a6e52",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "f47bac51-66ee-474b-b668-01476d8cdc89",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "8c07971d-0b53-4b8b-8c4c-826497dbb9e1"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "afdf3731-52ea-4384-aef5-609db7f969d9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "fa86159f-27b7-48ca-8bed-93566ccc7352"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "23ff8650-33a2-493a-bdc0-9494f25a3b5a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d101715e-8e36-4899-b596-c19fc0793846"
          }
        ],
        "columnSpan": 12,
        "contentKey": "273fbdc7-d01b-4db7-b732-377828e73883",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "69152414-2748-450b-b408-ba9980139722",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>