<?xml version="1.0" encoding="utf-8"?>
<Content Key="eaade5df-68df-4280-b050-337339b63e93" Alias="Test US" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/TestUS</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-11-19T09:15:15</CreateDate>
    <NodeName Default="Test US">
      <Name Culture="en-GB">Test UK</Name>
      <Name Culture="en-US">Test US</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "key": "18bb2ed3-755d-41c7-a59c-c72a060dbab3",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Test US content"
        },
        {
          "alias": "contentPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/530f495b502b41f9a243655343ff0b43"
        },
        {
          "alias": "headline",
          "culture": "en-GB",
          "editorAlias": null,
          "segment": null,
          "value": "Test UK"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "18bb2ed3-755d-41c7-a59c-c72a060dbab3",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "18bb2ed3-755d-41c7-a59c-c72a060dbab3",
      "culture": "en-GB",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "18bb2ed3-755d-41c7-a59c-c72a060dbab3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>