<?xml version="1.0" encoding="utf-8"?>
<Content Key="048a558e-28f5-4a7b-837e-60bef6bf540d" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-03-28T09:55:35</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "key": "fcd412d2-79db-4b2d-a358-e137738f883d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "key": "a3d1fbc1-101d-4ac1-a753-37290d92a5b7",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "A bright future for renewable energy 123"
        }
      ]
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "bdd31450-155f-4c87-8956-7a5a16c7c3ba",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EThe phrase \u201Cglobal warming\u201D hasn\u2019t been around long, but climate change, as it\u2019s also known, is nothing new. In fact, it has been a constant throughout history. Earth\u2019s climate today is very different from what it was 2 million years ago, let alone 10,000 years ago.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "key": "a607ffbe-1926-4d26-90f9-4bb5a49cee0b",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Explorer",
              "target": null,
              "udi": "umb://document/6e2ff1f7114e484ba407918daded1aa6",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "key": "345ba960-7081-4f85-9a42-1556da152756",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "232198b5-a5dc-4d14-9684-e401185604f4",
              "mediaKey": "43933cb4-0d29-412e-8e89-25ae76274b05",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "33eed9bb-5e5e-4937-8c53-dab30270b608",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fcd412d2-79db-4b2d-a358-e137738f883d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a3d1fbc1-101d-4ac1-a753-37290d92a5b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bdd31450-155f-4c87-8956-7a5a16c7c3ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a607ffbe-1926-4d26-90f9-4bb5a49cee0b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "345ba960-7081-4f85-9a42-1556da152756",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "a3d1fbc1-101d-4ac1-a753-37290d92a5b7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "bdd31450-155f-4c87-8956-7a5a16c7c3ba",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "a607ffbe-1926-4d26-90f9-4bb5a49cee0b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "345ba960-7081-4f85-9a42-1556da152756",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fcd412d2-79db-4b2d-a358-e137738f883d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "33eed9bb-5e5e-4937-8c53-dab30270b608",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>