<?xml version="1.0" encoding="utf-8"?>
<Content Key="53e0464a-d92a-44dd-a067-668a778b6fdb" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-04-22T20:05:43</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "key": "b825be81-ca82-46e1-92ca-e6a49df26ce4",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "3e0a7fda-6dce-45ce-b512-230c2f9db9c6",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ERTE Block test\u003C/p\u003E\n\u003Cumb-rte-block data-content-key=\u00227bfba30e-1741-480a-9108-71880bec213f\u0022\u003E\u003C/umb-rte-block\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003C!--Umbraco-Block--\u003E",
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
                  "udi": null,
                  "key": "7bfba30e-1741-480a-9108-71880bec213f",
                  "values": [
                    {
                      "editorAlias": "Umbraco.TextBox",
                      "culture": null,
                      "segment": null,
                      "alias": "headline",
                      "value": "Test"
                    },
                    {
                      "editorAlias": "Umbraco.RichText",
                      "culture": null,
                      "segment": null,
                      "alias": "richText",
                      "value": {
                        "markup": "\u003Cp\u003ETest\u003C/p\u003E",
                        "blocks": {
                          "contentData": [],
                          "settingsData": [],
                          "expose": [],
                          "Layout": {}
                        }
                      }
                    },
                    {
                      "editorAlias": "Umbraco.MediaPicker3",
                      "culture": null,
                      "segment": null,
                      "alias": "image",
                      "value": [
                        {
                          "key": "5f4ed923-0bd6-4153-aa66-9a08718e63f5",
                          "mediaKey": "65a066c2-b30d-497b-a53c-968e3f9a20d1",
                          "mediaTypeAlias": "",
                          "crops": [],
                          "focalPoint": null
                        }
                      ]
                    }
                  ]
                }
              ],
              "settingsData": [],
              "expose": [
                {
                  "contentKey": "7bfba30e-1741-480a-9108-71880bec213f",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentUdi": null,
                    "settingsUdi": null,
                    "contentKey": "7bfba30e-1741-480a-9108-71880bec213f",
                    "settingsKey": null
                  }
                ]
              }
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "70df8785-3966-4925-aeb8-f0c8b64029d9",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b825be81-ca82-46e1-92ca-e6a49df26ce4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3e0a7fda-6dce-45ce-b512-230c2f9db9c6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "3e0a7fda-6dce-45ce-b512-230c2f9db9c6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b825be81-ca82-46e1-92ca-e6a49df26ce4",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "70df8785-3966-4925-aeb8-f0c8b64029d9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>