<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cf00de1-71f2-4a47-8d03-6a19197b7c21" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-16T10:15:58</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "key": "08619f70-90d2-4ad8-bce4-2110075516d2",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "key": "32a80370-1ca5-483e-b335-e3276cea3c0b",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        },
        {
          "alias": "contentPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/6e2ff1f7114e484ba407918daded1aa6"
        }
      ]
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "afb7a5de-ffe3-4f51-b7ac-cb153f5bff45",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ETesting out the TipTap editor\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u00221a6cc603-1d7c-490a-88ff-20b50c4e2859\u0022\u003E\u003C/umb-rte-block\u003E",
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "b27373cd-3e5e-4828-b00b-7cebb2b06270",
                  "udi": null,
                  "key": "1a6cc603-1d7c-490a-88ff-20b50c4e2859",
                  "values": [
                    {
                      "editorAlias": "Umbraco.MultiUrlPicker",
                      "culture": null,
                      "segment": null,
                      "alias": "button",
                      "value": [
                        {
                          "name": null,
                          "target": null,
                          "udi": "umb://document/6e2ff1f7114e484ba407918daded1aa6",
                          "url": null,
                          "queryString": null
                        }
                      ]
                    }
                  ]
                }
              ],
              "settingsData": [],
              "expose": [
                {
                  "contentKey": "1a6cc603-1d7c-490a-88ff-20b50c4e2859",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentUdi": null,
                    "settingsUdi": null,
                    "contentKey": "1a6cc603-1d7c-490a-88ff-20b50c4e2859",
                    "settingsKey": null
                  }
                ]
              }
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "d5d5b956-9e00-4b0f-b90b-22ed43516d6e",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "08619f70-90d2-4ad8-bce4-2110075516d2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "32a80370-1ca5-483e-b335-e3276cea3c0b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "afb7a5de-ffe3-4f51-b7ac-cb153f5bff45",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "32a80370-1ca5-483e-b335-e3276cea3c0b",
                "contentUdi": "umb://element/32a803701ca5483eb335e3276cea3c0b",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "afb7a5de-ffe3-4f51-b7ac-cb153f5bff45",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220"
          }
        ],
        "columnSpan": 12,
        "contentKey": "08619f70-90d2-4ad8-bce4-2110075516d2",
        "contentUdi": "umb://element/08619f7090d24ad8bce42110075516d2",
        "rowSpan": 1,
        "settingsKey": "d5d5b956-9e00-4b0f-b90b-22ed43516d6e",
        "settingsUdi": "umb://element/d5d5b9569e004b0fb90b22ed43516d6e"
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>