<?xml version="1.0" encoding="utf-8"?>
<Content Key="048a558e-28f5-4a7b-837e-60bef6bf540d" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-03-28T09:55:35</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "f03c3afc-25c5-49ff-b1c7-f23238934ca7",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c134f606-d8c0-4f66-adaf-19e743d5872c",
              "mediaKey": "8bf1f902-53a2-498e-a48b-26e35d42df57",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Five ways to reduce your greenhouse gas emissions123"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "062726",
            "label": "062726",
            "sortOrder": 6,
            "id": "7"
          }
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffffff",
            "value": "#ffffff"
          }
        },
        {
          "alias": "contentPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "150"
          ]
        },
        {
          "alias": "mntp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/6ac5363ad8124ce9aa893a3973426c70"
        }
      ]
    },
    {
      "contentTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "key": "004654cd-3910-46cf-8357-0735e0ee3130",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "See our solutions",
              "target": null,
              "udi": "umb://document/6ac5363ad8124ce9aa893a3973426c70",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "key": "b9693428-e8f9-4a40-9cea-5375cd3021b8",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "06826199-a099-4643-ad12-7636ff5ee0d9",
      "udi": null,
      "values": [
        {
          "alias": "dropdown",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "100"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "11910214-ef83-42c3-a7b1-549ef6b2ca0b",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "a3d1fbc1-101d-4ac1-a753-37290d92a5b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bdd31450-155f-4c87-8956-7a5a16c7c3ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a607ffbe-1926-4d26-90f9-4bb5a49cee0b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "345ba960-7081-4f85-9a42-1556da152756",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f03c3afc-25c5-49ff-b1c7-f23238934ca7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "004654cd-3910-46cf-8357-0735e0ee3130",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b9693428-e8f9-4a40-9cea-5375cd3021b8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "004654cd-3910-46cf-8357-0735e0ee3130",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "3b490f17-1471-4ac4-9434-60e676639e29"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f03c3afc-25c5-49ff-b1c7-f23238934ca7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "06826199-a099-4643-ad12-7636ff5ee0d9",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b9693428-e8f9-4a40-9cea-5375cd3021b8",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "11910214-ef83-42c3-a7b1-549ef6b2ca0b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>